<!DOCTYPE html>
<html>
<head>
<title> {{title}} </title>
<style type="text/css">

body {
	font-family: Arial, Helvetica, sans-serif;
}
h1, h2 {
  color: #009900;
}
p {
  font-size: large;
}

</style>
</head>
<body>
   <h1>COMP 2406 Fall 2017 </h1>
   <hr>
   {{{body}}} 
   {{> footer}}
</body>
</html>
