doctype html 
html
  head
  body
    h1= title

    div
      div
      table
        thead
          th title
          th rank
          th detail
        tbody
            tr
             td asdfas 
             td 
              a 
                img
              





    form(method="get", action="/")
      button(type="submit") Home
